<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{('https://www.student.bth.se/~adde22/dbwebb-kurser/mvc/me/report/css/proj.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% endblock %}

        

    </head>
    <body>
    <header class="site-header" style="background-image: url({{ asset('img/imgForStat.jpg') }})">
    <span class="site-title"></span>
</header>
        <nav>
        <ul>
        <li><a href="{{ path('proj') }}">Project Landing Page</a></li>
        <li><a href="{{ path('statisticsDeaths') }}">Covid death by Age</a></li>
        <li><a href="{{ path('statisticsBoende') }}">Covid death by special living condition</a></li>
        <li><a href="{{ path('statisticsNoBoende') }}">Covid death by no special living condition </a></li>
        <li><a href="{{ path('statisticsUnenployement') }}">Covid related unenployement by age</a></li>
        <li><a href="{{ path('proj_about') }}">About</a></li>
        <li><a href="{{ path('proj_api') }}">Apis</a></li>
        <li><a href="{{ path('proj_reset') }}">Reset data</a></li>
        </ul>
        </ul>
        </nav>
        <main>{% block body %}{% endblock %}</main>
        <footer class= "site-footer "><p>Adrian Dedorson - Student for MVC BTH</p>
</footer>
    </body>
</html>
