{% extends 'base.html.twig' %}

{% block body %}
    <div class="playfield">
        <div class="chips">
            <p>Player chips: {{ player_chips }}</p>
            <p>Dealer chips: {{ dealer_chips }}</p>
        </div>
        <div class="table">
            <div class="player" id="player">
                <p>Player</p>
                {% for card in player_cards %}
                    <img src="{{ card.getImagePath() }}" alt="{{ card.getSuit() }} {{ card.getValue() }}" class="card">
                {% endfor %}
                <p>Score: {{ player_score }}</p>
            </div>
           <div class="dealer" id="dealer">
    <p>Dealer</p>
    {% for card in dealer_cards %}
        {% if loop.first %}
            {% if game_over %}
                <img src="{{ card.getImagePath() }}" alt="{{ card.getSuit() }} {{ card.getValue() }}" class="card">
            {% else %}
                <img src="{{ asset('img/back_card.png') }}" alt="Card Back" class="card">
            {% endif %}
        {% else %}
            <img src="{{ card.getImagePath() }}" alt="{{ card.getSuit() }} {{ card.getValue() }}" class="card">
        {% endif %}
    {% endfor %}
        <p>Score: {{ dealer_score }}</p>
</div>
        </div>
        <form method="post">
            {% if player_turn and not game_over %}
                <label for="bet-amount">Bet amount:</label>
                <input type="number" id="bet-amount" name="bet-amount" min="0" max="{{ player_chips }}" >
                <button type="submit" name="action" value="bet">Bet</button>
                <button type="submit" name="action" value="hit">Hit</button>
                <button type="submit" name="action" value="stand">Stand</button>
                <button type="submit" name="action" value="reset">Reset</button>
            {% elseif not game_over %}
                <button type="submit" name="action" value="reset">Reset</button>
            {% else %}
                <input type="number" id="bet-amount" name="bet-amount" min="0" max="{{ player_chips }}" >
                <button type="submit" name="action" value="bet">Bet</button>
                <button type="submit" name="action" value="reset">Reset</button>
                 <button type="submit" name="action" value="next">Next Round</button>
                {% if winner == 'player' %}
    <div class="winner">You win!</div>
{% elseif winner == 'dealer' %}
    <div class="winner">Dealer wins!</div>
{% else %}
    <div class="winner">It's a tie!</div>
{% endif %}
            {% endif %}
        </form>
    </div>
   
{% endblock %}