{% extends 'base.html.twig' %}

{% block body %}
    <h1>Update Book Details</h1>

    <div class="navbar">
        <a href="{{ path('book_show_all') }}" class="nav-link">All Books</a>
        <a href="{{ path('book_create') }}" class="nav-link">Add Book</a>
        <a href="{{ path('library_reset') }}" class="nav-link">Reset Database</a>
    </div>

    <form method="post" action="{{ path('book_update', {'id': book.id}) }}" enctype="multipart/form-data">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ book.title }}" required>
        </div>

        <div>
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn" value="{{ book.isbn }}" required>
        </div>

        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="{{ book.author }}" required>
        </div>

        <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image">
            <img src="{{ asset('img/' ~ book.image) }}" alt="{{ book.title }}">
        </div>

        <button type="submit">Save Changes</button>
    </form>
{% endblock %}